
/** 地圖區塊 */
.mapBlock {
  position: relative;
  height: 100%;
  width: 100%;
}

/** 側邊欄區塊 */
.sideBlock {
  width: 500px;
  height: 100%;
  box-shadow: $shadow;
  padding: $padding * 2;
  background-color: theme-var($--blockBG);

  > h3  {
    text-align: center;
  }
}