html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-family: $fontFamily;
  font-weight: $fwB;
  font-size: 100%;
  vertical-align: baseline;
  color: theme-var($--font);
  letter-spacing: 0.02em;
}

* {
  box-sizing: border-box;
  outline: 0 none;
  font-family: $fontFamily;
  margin: 0;
  font-size: $fzDefault;
}

body {
  overflow: hidden;
  background-color: theme-var($--bG);
  @include maxScreen(ipadRMax) {
    overflow-y: auto;
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;

  &:after,
  &:before {
    content: '';
    content: none;
  }
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

a img {
  border: none;
}

svg {
  display: block;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

button,
select {
  text-transform: none;
}

button,
input {
  outline: 0 none;
  border: 0 none;

  &[type='button'],
  &[type='reset'],
  &[type='submit'] {
    -webkit-appearance: button;
    cursor: pointer;
  }
}

\:after,
\:before {
  box-sizing: border-box;
}

[hidden] {
  display: none;
}
